.backdrop
{
      position: fixed; 
      top: 0; 
      bottom: 0; 
      left: 0;
      right: 0; 
      background-color:rgba(0,0,0,0.3);  
      z-index:1; 
      padding: 50px; 

}


.modal
{
    background-color:#fff; 
    border-radius: 5px; 
    max-width: 480px; 
    min-Height: 420px; 
    margin: auto; 
    padding: 0; 

}

.modal-header
{
    background-color: #A2A1B2; 
    width: 100%; 
    height: 25px; 
    text-align: left;
    padding-left: 5px; 
    padding-top:5px; 
}

.wordlabels
{
    margin-left:10px;
    margin-right:5px;   
}

.wordlabels2
{
    margin-left:5px;
    margin-right:10px;   
}

#div1
{
    /*padding: 10px; */
    padding-top: 5px; 
    padding-bottom: 5px; 
}

#div2
{
    height: 100%; 
    overflow: hidden;
}

#div21
{
    padding: 10px; 
/*display:inline-block; */
    width: 100px;
    float: left;  

}

#div22
{
    width: 330px;
    padding: 10px; 
    margin-left: 120px; 
    /*height: 300px;  */
    height: 218px; 
}

#div3
{

    margin: 10px; 
}

#footer
{
   float: right; 
   margin: 10px; 
}




.allwords
{
    display: block; 
}

.modal-body input 
{
  width: 13px;
  height: 13px;
  padding: 0;
  margin-left:10px;
  margin-right: 5px; 
  vertical-align: middle;
  position: relative;
  top: 0px;
  *overflow: hidden;
}


#div4
{
    margin: 10px; 
}

#partofspeech
{
   width:200px;  
   height: 15px;
   margin-bottom: 3px;  

}

.inspeech
{
    width: 400px; 
    display: block; 
    margin: 3px;
}

#partofspeech_1
{
    width: 130px; 
    float: left; 
    height: 155px; 
    padding-bottom: 10px; 
}

#partofspeech_2
{
    margin-left: 130px;   
    height: 155px;
    padding-bottom: 10px; 
}

#capitalization_header
{
    margin-top:5px; 
    padding-top: 5px; 
}

#capitalization
{
    float: bottom; 
    height: 20px; 
    padding: 5px; 
}


/****** BEGIN NUMBER TOKEN *********/
/****** All this a specific to number token */

.number-modal-header
{
   background-color: #A2A1B2;
   width: 100%;
   height: 25px;
   text-align: left;
   padding-left: 5px;
   padding-top:5px;
}

.number-modal
{
    background-color:#fff; 
    border-radius: 5px; 
    max-width: 400px; 
    min-Height: 280px; 
    margin: auto; 
    padding: 0; 

}

.num_prefixsuffix
{
   margin-left:5px;
   margin-right:10px;  
   width:100px;
   font-size: 18pt;
}

#number-div1
{
   /*padding: 10px; */
   padding-top: 5px;
   padding-bottom: 5px;
}

#number-div2
{
   overflow: hidden;
}

#number-div21
{
   padding: 10px;
/*display:inline-block; */
   width: 100px;
   float: left; 

}

#number-div22
{
   width: 275px;
   padding: 10px;
   margin-left:100px;
   height:  150px;
}



#numbertoken-footer
{
  float: right;
  margin: 10px;
}

/*
.modal-body input
{
 width: 20px;
 height: 13px;
 padding: 0;
 margin-left:10px;
 margin-right: 20px;
 vertical-align: bottom;
 position: relative;
 top: -1px;
 *overflow: hidden;
}
*/

#number-lengths
{
   border-color: red;
   margin-top: 15px; 
   height: auto;
   width: 100%;
   display: inlilne-block;
}




#number-prefix-suffix
{
   border-color: blue;
   display: inlilne-block;
   margin-top: 20px;
}

#number-prefix-suffix input
{
    width:50px; 
    vertical-align: top; 
}

/********END NUMBER TOKEN *****/


/*******************SHAPE TOKEN ************************/

.shape-modal-header
{
   background-color: #A2A1B2;
   width: 100%;
   height: 25px;
   text-align: left;
   padding-left: 5px;
   padding-top:5px;
}

.shape-modal
{
    background-color:#fff; 
    border-radius: 5px; 
    max-width: 480px; 
    min-Height: 420px; 
    margin: auto; 
    padding: 0; 
}

.shape-prefixsuffix
{
   margin-left:5px;
   margin-right:10px;  
   width:100px;
   font-size: 18pt;
}

#shape-div1
{
   /*padding: 10px; */
   padding-top: 5px;
   padding-bottom: 5px;
}

#shape-div2
{
   overflow: hidden;
}

#shape-div21
{
   padding: 10px;
/*display:inline-block; */
   width: 100px;
   float: left; 

}

#shape-div22
{
   width: 275px;
   padding: 10px;
   margin-left:100px;
   height:  150px;
}



#numbertoken-footer
{
  float: right;
  margin: 10px;
}

/*
.modal-body input
{
 width: 20px;
 height: 13px;
 padding: 0;
 margin-left:10px;
 margin-right: 20px;
 vertical-align: bottom;
 position: relative;
 top: -1px;
 *overflow: hidden;
}
*/

#shape-lengths
{
   border-color: red;
   margin-top: 15px; 
   height: auto;
   width: 100%;
   display: inlilne-block;
}




#shape-prefix-suffix
{
   border-color: blue;
   display: inlilne-block;
   margin-top: 20px;
}

#shape-prefix-suffix input
{
    width:50px; 
    vertical-align: top; 
}







/*****************END OF SHAPE TOKEN *********************/

/***************** Punctuation Token Configuration *****************/

.punctuation-modal-header
{
   background-color: #A2A1B2;
   width: 100%;
   height: 25px;
   text-align: left;
   padding-left: 5px;
   padding-top:5px;
}

.punctuation-modal
{
    background-color:#fff; 
    border-radius: 5px; 
    max-width: 380px; 
    min-Height: 350px; 
    margin: auto; 
    padding: 0; 

}

#punctuation-div1
{
   /*padding: 10px; */
   padding-top: 5px;
   padding-left:5px; 
   padding-bottom: 5px;
}

#punctuation-div2
{
    height: 100%; 
    overflow: hidden;
    display: inline-block; 
    height: 230px; 
    padding-left:2px; 
}

#punctuation-div21
{
    display:block; 
    width: 100px;
    float: left;  
    height:100%; 
}

#punctuation-div22
{
    width: 100px;
    float: left; 
    height: 100%; 
}


#punctuation-div23
{
    width: 100px;
    float: left; 
    height: 100%; 
    /*border:solid;*/
}



#punctuation-footer
{
  float: right;
  margin: 10px;
}


/***************** End of Punctuation Toke *************************/