.backdrop
{
      position: fixed; 
      top: 0; 
      bottom: 0; 
      left: 0;
      right: 0; 
      background-color:rgba(0,0,0,0.3);  
      z-index:20; 
      padding: 200px; 
}


.modal
{
    background-color:#fff; 
    border-radius: 5px; 
    max-width: 480px; 
    min-Height: 415px; 
    margin: auto; 
}

.modal-header
{
    background-color: #A2A1B2; 
    width: 470px; 
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px;
    height: 25px; 
    text-align: left;
    padding-top:5px; 
    padding-left: 10px; 
}

.wordlabels
{
    margin-left:10px;
    margin-right:5px;   
}

.wordlabels2
{
    margin-left:5px;
    margin-right:10px;   
}

#div1
{
    padding-top: 5px; 
    padding-bottom: 5px; 
}

#div2
{
    height: 100%; 
    overflow: hidden;
}

#div21
{
    padding: 10px 10px 0 10px; 
    width: 100px;
    float: left;  
}

#div22
{
    width: 330px;
    padding: 10px 10px 0px 10px; 
    margin-left: 120px; 
}



#footer, #shapes-footer
{
   float: right; 
   margin: 10px 10px 0px 10px; 
}

.allwords
{
    display: block; 
    width: 100%; 
}

.modal-body input 
{
  width: 13px;
  height: 13px;
  padding: 0;
  margin-left:10px;
  margin-right: 5px; 
  vertical-align: middle;
  position: relative;
  top: 0px;
  *overflow: hidden;
}

#div3
{
    margin-left: 10px; 
    margin-top: 0px; 
}

#div3 input
{
    margin: 10px; 
    width:30px; 
    height: 15px; 
}
#number-div22 input
{
    margin: 10px; 
    width:30px; 
    height: 15px;     
}

#div4
{
    margin-left: 10px ; 
    margin-top: 0px ; 
}

#partofspeech, #shapes-partofspeech
{
   width:200px;  
   height: 15px;
   margin-bottom: 3px;  
}

.inspeech
{
    width: 400px; 
    display: block; 
    margin: 3px;
}

#partofspeech_1
{
    width: 130px; 
    float: left; 
    height: 155px; 
    padding-bottom: 10px; 
}

#partofspeech_2
{
    margin-left: 130px;   
    height: 155px;
    padding-bottom: 10px; 
}

#capitalization_header, #shapes-capitalization_header
{
    margin-top:5px; 
    padding-top: 5px; 
}

#capitalization, #shapes-capitalization
{
    float: bottom; 
    height: 20px; 
    padding: 5px; 
}


/****** BEGIN NUMBER TOKEN *********/
/****** All this a specific to number token */

.number-modal-header
{
   background-color: #A2A1B2;
   width: 360;
   height: 25px;
   text-align: left;
   border-top-left-radius: 5px; 
   border-top-right-radius: 5px;   
   padding-left: 10px;
   padding-top: 5px;
}

.number-modal
{
    background-color:#fff; 
    border-radius: 5px; 
    max-width: 360px; 
    min-Height: 280px; 
    margin: auto; 
}

.num_minmax
{
   margin-left:0px;
   margin-right:10px;  
   width:10px;
   font-size: 10pt;
   vertical-align: top; 
}

#number-div1
{
   /*padding: 10px; */
   padding-top: 5px;
   padding-bottom: 5px;
}

#number-div2
{
   overflow: hidden;
}

#number-div21
{
   padding: 0px 10px 10px 10px;
   width: 100px;
   float: left; 

}

#number-div22
{
   width: 275px;
   padding: 0px 10px 10px 10px;
   margin-left:100px;
   height:  150px;
}

#numbertoken-footer
{
  float: right;
  margin: 0px;
}

#number-lengths
{
   border-color: red;
   margin-top: 15px; 
   height: auto;
   width: 100%;
   display: inlilne-block;
}

#number-prefix-suffix
{
   border-color: blue;
   display: inlilne-block;
   margin-top: 20px;
}

#number-prefix-suffix input
{
    width:50px; 
    /*vertical-align: top; */
}

#numbertoken-footer
{
  float: right;
  margin: 10px;
}

/********END NUMBER TOKEN *****/


/*******************SHAPE TOKEN ************************/

.shape-modal-header
{
    background-color: #A2A1B2; 
    width: 470px; 
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px;
    height: 25px; 
    text-align: left;
    padding-top:5px; 
    padding-left: 10px; 
}

.shape-modal
{
    background-color:#fff; 
    border-radius: 5px; 
    max-width: 480px; 
    min-Height: 325px; 
    margin: auto; 
}

.shape-prefixsuffix
{
   margin-left:5px;
   margin-right:10px;  
   width:100px;
   font-size: 10pt;
}

#shape-div1
{
   /*padding: 10px; */
   padding-top: 5px;
   padding-bottom: 5px;
}

#shape-div2
{
   overflow: hidden;
}

#shape-div21
{
   padding: 10px;
/*display:inline-block; */
   width: 100px;
   float: left; 

}

#shape-div22
{
   width: 275px;
   padding: 10px;
   margin-left:100px;
   height:  150px;
}

#shape-lengths
{
   border-color: red;
   margin-top: 15px; 
   height: auto;
   width: 100%;
   display: inlilne-block;
}


#shape-prefix-suffix
{
   border-color: blue;
   display: inlilne-block;
   margin-top: 20px;
}

#shape-prefix-suffix input
{
    width:50px; 
    vertical-align: top; 
}

#shapes-div1
{
    padding-top: 5px; 
    padding-bottom: 5px; 
}

#shapes-div2
{
    height: 100%; 
    overflow: hidden;
    padding-bottom: 10px; 
}

#shapes-div21
{
    padding: 10px 10px 0 10px; 
    width: 100px;
    float: left;  
}

#shapes-div22
{
    width: 330px;
    padding: 10px 10px 0px 10px; 
    margin-left: 120px; 
}

#shapes-div3
{
    margin-left: 10px; 
    margin-top: 0px; 
}

#shapes-div3 input
{
    margin: 10px; 
    width:30px; 
    height: 15px; 
}

#shapes-div4
{
    margin-left: 10px ; 
    margin-top: 0px ; 
}

#shapes-footer
{
   float: right; 
   margin: 10px 10px 0px 10px; 
}

#shapes-partofspeech_1
{
    width: 130px; 
    float: left; 
    height: 155px; 
}

#shapes-partofspeech_2
{
    margin-left: 130px;   
    height: 155px;
}







/*****************END OF SHAPE TOKEN *********************/

/***************** Punctuation Token Configuration *****************/

.punctuation-modal-header
{
    background-color: #A2A1B2; 
    width: 300px; 
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px;
    height: 25px; 
    text-align: left;
    padding-top:5px; 
    padding-left: 10px; 
}

.punctuation-modal
{
    background-color:#fff; 
    border-radius: 5px; 
    max-width: 310px; 
    min-Height: 370px; 
    margin: auto; 
}

#punctuation-div1
{
   padding-top: 5px;
   padding-bottom: 5px;
   padding-left:5px; 
}

#punctuation-div2
{
    height: 100%; 
    overflow: hidden;
    display: inline-block; 
    height: 260px; 
}

#punctuation-div21
{
    display:block; 
    width: 100px;
    float: left;  
    height:100%; 
    padding-left:2px; 
}

#punctuation-div22
{
    width: 100px;
    float: left; 
    height: 100%; 
}


#punctuation-div23
{
    width: 100px;
    float: left; 
    height: 100%; 
    /*border:solid;*/
}

#punctuation-div24
{
    width: 100px;
    float: left; 
    height: 100%; 
    /*border:solid;*/
}



#punctuation-footer
{
  float: right;
  margin: 10px;
}

#punctuation-symbol-header
{
    padding-left:10px; 
}


/***************** End of Punctuation Token *************************/

