body {
  background: $color-bg;
  padding: 20px;
}

.page-wrap {
  max-width: 900px;
  margin: 0 auto;
  border-radius: 0.5em;
  border-style: solid; 
  border-color: black; 
  padding: 2em;
  position: relative; 
}

.extraction-rules, .rulesText{
  max-width: auto;
  margin: auto;
  border-radius: 0.1em;
  border-style: solid; 
  border-color: black; 
  padding: 1em;  
  border-width: 0.05em; 
  
  /*float: bottom;*/
}




.weight-slider { 
  text-align: center; 
  input {
    width: 300px;
  }
}


/*
.button {
    background-color: darkgray;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
*/
.extractionText{
  display: inline; 
}

#appHeader
{
  border: none; 
  padding-bottom: 30px; 
  position: relative; 
}

.run-rules{
     float: right; 
}



.button {
  display: inline-block;
  padding: 3px 8px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #A2A1B2;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px #999;
}

.button:hover {background-color: #355667}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(1px);
}


.textInput
{
  width: 100%; 
  height: 100%; 
}

#ruleMenu{
  margin-bottom: 3em; 
  
}


#result{
  max-width: auto;
  margin: auto;
  border-radius: 0.1em;
  border-style: solid; 
  border-color: black; 
  padding: 1em;  
  border-width: 0.05em; 
}

.listStyle{
  list-style: none;  
}

.resultwrap{
  padding-right: 2em;
}
