body {
  padding: 20px;
}

.page-wrap {
  max-width: auto;
  min-width: 800px; 
  min-height:600px; 
  margin: 0 auto;
  border-radius: 0.5em;
  border-style: solid; 
  border-color: black; 
  padding: 2em;
  position: relative; 
}

.extraction-rules{
  max-width: auto;
  margin: 0;
  border-radius: 0.1em;
  border-style: solid; 
  border-color: black; 
  padding: 0em;  
  border-width: 0.05em; 
  height: 600px; 
  overflow: scroll; 
  /*float: bottom;*/
}



/*
.button {
    background-color: darkgray;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
*/
.extractionText{
  display: inline; 
  font-weight: bold; 
  font-size: 1.2em; 
}

#appHeader
{
  border: none; 
  position: relative; 
}

#run-rules{
  margin-bottom: 20px; 
}



.button {
  display: inline-block;
  padding: 3px 8px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #A2A1B2;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px #999;
}

.button:hover {background-color: #355667}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(1px);
}

 .rulesText{
  max-width: auto;
  margin: 0;
  border-radius: 0.1em;
  border-style: solid; 
  border-color: black; 
  border-width: 0.05em; 
  overflow: auto; 
  height:250px; 
  /*float: bottom;*/
}

.textInput
{
  width: 49%; 
  height: 100%; 
  float: left; 
  padding-left:5px;  
  max-width: 49%; 
  font-size: 14px; 
  font-family: Arial, Helvetica, sans-serif;   
  overflow: scroll; 

}

.textInput2
{
  width: 50%; 
  height: 100%; 
  float: right;  
  margin-left:5px; 
  max-width: 49%; 
  min-width:49%; 
  padding-left:0px; 
  padding-right: 5px; 
  font-size: 14px; 
  font-family: Arial, Helvetica, sans-serif; 
  overflow: scroll; 
  border: solid; 

}



#ruleMenu{
  margin-bottom: 1.5em; 
}


#result{
  max-width: auto;
  margin: auto;
  border-radius: 0.1em;
  border-style: solid; 
  border-color: black; 
  padding: 1em;  
  border-width: 0.05em; 
}

.listStyle{
  list-style: none;  
}

.resultwrap{
  padding-right: 2em;
}

.testTokenStyle
{
  border: solid; 
  border-right:solid; 
  border-color: black;
  border-width: 0.01em; 
  width:auto; 
  height:auto; 
  margin:10px; 
  word-wrap:break-word;
  background-color: #A2A1B2; 
  color: white;
  line-height: 150%;
}
