.ruleHeader{
  margin: 0; 
  padding: 0; 
}

.ruleDescription{
  font-style: italic; 
  font-size: small; 
  border:solid;
  border-color: lightgray; 
  border-width: 0.01em; 
  width: 365px; 
  height: 2em; 
  margin-left: 5px;
    
}

.output_format{
  font-style: italic; 
  font-size: small; 
  border:solid;
  border-color: lightgray; 
  border-width: 0.01em; 
  width: auto; 
  height: 2em; 
  margin-left: 5px;
    
}


.rulewrapper{
  margin: 0em; 
  /*
  border: solid; 
  background-color: yellow; 
  */
}

.ruleCheckBox
{
  display:inline-block;  
  margin-right: 1em; 
}
.arrangeEachToken{
  /*width:100%;*/
  display:inline-block; 
  /*margin-left: 0.0em; */
}

.arrangeRuleTokens{
  /*text-align: center; */
}


#ruleOutput{
  margin-left: 3em; 
  margin-top: 1.5em; 
  margin-bottom: 2em; 
  font-style: italic; 
}

.positiveNegative{
  background:#A2A1B2; 
  color: white; 
  padding: 0.1em; 
}

#ttype{
  display:inline; 
  visibility: hidden; 
}

.tokenMenu{

  display: none;
  font-style: white; 
  background-color: #C6CBDE; 
  width: 5.5em; 
  transform: translate(30%,10%); 
  font-family : Arial, Helvetica, sans-serif;
  border:solid;
  border-width: 0.05em; 
  margin-left: 200px; 
}

.tokenMenu_item{
  border:solid; 
  border-width: 0.05em; 
}

.deletebutton {
  /*display: inline-block;*/
  display: none; 
  margin-top: 28px; 
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color:red;
  border: 1px solid red;
  border-radius: 50%;
  box-shadow: 0 4px #999;
}

.deletebutton:hover {background-color: #355667}

.deletebutton:active {
  background-color: #3e8e41;
  box-shadow: 0 2px #666;
  transform: translateY(1px);
}