

.widget
{
  
  display: inline-block; 
	border: none;
	min-width: 5em;
	height: auto;
	flex-direction: column;
  margin-top: 20px; 
  margin-right: 10px; 
  background-color: #C6CBDE; 
}

.tokenHeader
{
	flex: 0 0 2.4em;
	margin: 0;
	padding: 0.5em;
	background-color: #A2A1B2;
	color: white;
	font-size: 1em;
	font-weight: normal;
  position: relative; 
}

.tokenBody
{
	padding: 0.5em;
  margin-bottom: 1.3em; 
}


.closeToken
{
  float: left/right; 
  float: right; 
  color: lightgray; 
  border: solid;
  border-width: 0.05em; 
  color: white; 
}

.tokenFooter
{
  position: relative; 
  float: bottom; 
  margin-top: 1em;
}

#tokenCase
{
  float: left; 
  background-color: #BE9974; 
  padding: 0.25em; 
  margin-right: 2em; 
  font-size: 16pt; 
  /*border: solid; */
}

.tokenRequired
{
  float: right; 
  background-color: lightblue; 
  padding: 0.25em; 
}

.tokenEachText
{
  display: inline; 
  border: solid; 
  border-color: white; 
  border-width: 0.01em; 
  padding:0.2em;   
  margin: 0.2em; 
}

#addButton
{
  padding: 1.5em; 
}
