

.widget
{
  
  display: inline-block; 
  //position: absolute; 
  float: left/right; 
	border: none;
	min-width: 5em;
	height: auto;
	//display: flex;
	flex-direction: column;
	//overflow: hidden;
  margin-top: 20px; 
  //margin-bottom: 10px; 
  margin-right: 10px; 
  background-color: #C6CBDE; 
}

.widget #tokenHeader
{
	flex: 0 0 2.4em;
	margin: 0;
	padding: 0.5em;
	background-color: #A2A1B2;
	color: white;
	font-size: 1em;
	font-weight: normal;
  position: relative; 
}

.widget #tokenBody
{
	//flex: 0 1 100%;
	//overflow: auto;
	padding: 0.5em;
  margin-bottom: 1.3em; 
}


.widget .closeToken
{
   display: inline-block; 
  //position: absolute; 
  float: left/right; 
  float: right; 
  color: lightgray; 
  border: solid;
  border-width: 0.05em; 
}

.widget .tokenFooter
{
  //display: inline-block; 
  position: relative; 
  float: bottom; 
  margin-top: 1em;
  //float: left/right; 
  //border: solid; 
}

.widget #tokenCase
{
  display: inline;
  float: left; 
  background-color: #BE9974; 
  padding: 0.125em; 
  /*border: solid; */
}

.widget #tokenRequired
{
  display: inline;
  float: right; 
  background-color: lightblue; 
  padding: 0.125em; 
}




.widget .tokenText
{
  /*border: solid; 
  border-color: white; 
  border-width: 0.01em; 
  padding:0.2em; 
  */
}

.widget .tokenEachText
{
  display: inline; 
  border: solid; 
  border-color: white; 
  border-width: 0.01em; 
  padding:0.2em;   
  margin: 0.2em; 
  
}

#addButton
{
  padding: 1.5em; 
}

/*
.widget .arrangeEachToken{
  width:100%; 
  display:inline-block; 
  margin-left: 1em; 
}
*/